## Cho Windows Authentication
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_SERVER=...
DB_NAME=FootballBookingDB
DB_TRUSTED_CONNECTION=yes
DB_TRUST_SERVER_CERTIFICATE=yes

## Cho SQL Server Authentication

DB_DRIVER=ODBC Driver 18 for SQL Server
DB_SERVER=...
DB_NAME=FootballBookingDB
DB_USER=...
DB_PASSWORD=...
DB_TRUST_SERVER_CERTIFICATE=yes