.card{

width:220px;

border-radius:12px;

overflow:hidden;

background:white;


box-shadow:

0 4px 15px rgba(0,0,0,0.1);


transition:0.3s;

}


.card:hover{

transform:translateY(-8px);

box-shadow:

0 8px 20px rgba(22,163,74,0.25);

}


.image-box{

height:140px;

background:#DCFCE7;

}


.card h3{

padding:15px;

color:#166534;

}