.footer{

    display:flex;

    justify-content:space-around;

    padding:50px 60px;


    background:#166534;


    color:white;


}



.footer-column{

    width:220px;

}



.footer-column h3{


    color:#86EFAC;


    font-size:20px;


    margin-bottom:20px;


}



.footer-column p{


    color:#DCFCE7;


    margin:12px 0;


    font-size:14px;


    line-height:1.5;


}



.footer-column p:hover{


    color:white;


    cursor:pointer;


}