.navbar{

height:70px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 50px;

background:#166534;

color:white;

}


.logo{

font-size:26px;

font-weight:bold;

color:white;

}


nav{

display:flex;

gap:25px;

}


nav a{

color:white;

transition:0.3s;

}


nav a:hover{

color:#86EFAC;

}


.right-menu input{

padding:8px 15px;

border-radius:20px;

border:none;

}


button{

background:#22C55E;

color:white;

border:none;

padding:10px 22px;

border-radius:6px;

}


button:hover{

background:#15803D;

}


.register{

background:white;

color:#166534;

}


.register:hover{

background:#DCFCE7;

}